body{
    background-image: url(../img/bg-image2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: darkblue;

}
* {
    box-sizing: border-box;
}
.container{
    max-width: 300px;
    
    padding: 16px;
    background-color: rgba(255, 255, 255, 0.733);
    position: fixed;
    
    
    /* vertical and horizontal center aligning */
    top: 44%; 
    left: 50%; 
    margin-top: -100px; 
    margin-left: -100px;
}

input[type=email], input[type=password]{
    background-color: white;
    outline: none;
    border: none;
    width: 100%;
    margin: 8px 0;
    font-size: smaller;
    border: none;
    border-bottom: 2px solid navy;

}
.btn{
    background-color: blue;
    color: white;
    padding: 8px 10px;
    border: none;
    cursor: pointer;
    opacity: 0.88;
    margin-left: 113.6px;
}
.btn:hover{
    opacity: 1;
}

@media only screen and (max-width: 420px){
    
    body{
        background-image: url(../img/bg-image2.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: darkblue;
        font-size: x-large;
    }
    * {
        box-sizing: border-box;
    }
    .container{
        max-width: 300px;
        
        padding: 16px;
        background-color: rgba(255, 255, 255, 0.733);
        position: fixed;
        
        
        /* vertical and horizontal center aligning */
        top: 40%; 
        left: 41.1%; 
        margin-top: -100px; 
        margin-left: -100px;
    }
    
    input[type=email], input[type=password]{
        background-color: white;
        outline: none;
        border: none;
        width: 100%;
        margin: 8px 0;
        font-size: smaller;
        border: none;
        border-bottom: 2px solid navy;
    }
    .btn{
        background-color: blue;
        color: white;
        padding: 8px 10px;
        border: none;
        cursor: pointer;
        opacity: 0.88;
        margin-left: 190px;
    }
    .btn:hover{
        opacity: 1;
    }
    
}